---
import { Image } from "astro:assets";
import Avatar from "../../images/avatar.jpg";
---

<div
  class="lg:row-span-2 bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark  rounded-3xl p-8 2xl:p-12">
  <div class="relative flex items-center gap-x-4">
    <Image
      src={Avatar}
      alt="Photo of Gregory Pastor-Hall"
      class="size-10 2xl:size-16 rounded-full"
    />
    <div class="text-sm 2xl:text-xl leading-6">
      <p class="font-semibold text-zinc-950 dark:text-zinc-100">
        <a href="#">
          <span class="absolute inset-0"></span>
          Gregory Pastor-Hall
        </a>
      </p>
      <p class="text-zinc-500 dark:text-zinc-400">
        CE Student + RPhT
      </p>
    </div>
  </div>
  <p
    class="text-3xl mt-6 2xl:text-7xl text-balance font-semibold lg:text-4xl text-zinc-950 dark:text-zinc-100">
    Welcome to my space!
  </p>
  <p class="text-xl text-zinc-500 dark:text-zinc-300 2xl:text-3xl mt-4">
	I’m a Computer Engineering undergraduate at Cleveland State University and currently work in a Leadership Operations Support role with TT Electronics. I’m also a Registered Pharmacy Technician in the State of Ohio.
	<br />
    <br />
  Outside of work and school, I enjoy spending time with friends, eating pizza, and watching YouTube. I love learning by doing. Whether I’m building something new, or fixing what I just broke.
  </p>
</div>
