---
import { Image } from "astro:assets";
import Avatar from "../../images/avatar.jpg";
---

<div
  class="lg:row-span-2 bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark  rounded-3xl p-8 2xl:p-12">
  <div class="relative flex items-center gap-x-4">
    <Image
      src={Avatar}
      alt="#_"
      class="size-10 2xl:size-16 rounded-full"
    />
    <div class="text-sm 2xl:text-xl leading-6">
      <p class="font-semibold text-zinc-950 dark:text-zinc-100">
        <a href="#">
          <span class="absolute inset-0"></span>
          Gregory Pastor-Hall
        </a>
      </p>
      <p class="text-zinc-500 dark:text-zinc-400">
        CE Student + RPhT
      </p>
    </div>
  </div>
  <p
    class="text-3xl mt-6 2xl:text-7xl text-balance font-semibold lg:text-4xl text-zinc-950 dark:text-zinc-100">
    Welcome to my space!
  </p>
  <p class="text-xl text-zinc-500 dark:text-zinc-300 2xl:text-3xl mt-6">
	I'm a Computer Engineering Undergrad at The Cleveland State University. Also, I'm a Pharmacy Technician.
	<br />
    <br />
  I'm passionate about solving problems and building cool things. When I'm not messing something up, or fixing the aforementioned, I'm hanging out with my lovely girlfriend Chelsea, enjoying pizza, or watching YouTube.
  </p>
</div>
