<a
  href="https://www.linkedin.com/in/pastor-hall/"
  class="relative flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-3xl shadow-xl dark:shadow-dark bg-zinc-100 dark:bg-zinc-900 p-8 2xl:p-12 transition duration-300 hover:bg-white/60 dark:hover:bg-zinc-800/60 md:aspect-square lg:aspect-auto min-h-48 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-zinc-500 lg:row-start-3"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    stroke-width="1.2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="size-16 2xl:size-24 text-zinc-950 dark:text-zinc-100"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
    <path d="M8 11l0 5"></path>
    <path d="M8 8l0 .01"></path>
    <path d="M12 16l0 -5"></path>
    <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
  </svg>
  <span class="mt-6 text-center text-xl font-semibold text-zinc-950 dark:text-zinc-100 2xl:text-3xl">
    Connect on LinkedIn
  </span>
  <span class="mt-2 text-center text-sm text-zinc-500 dark:text-zinc-300 2xl:text-xl">
    Let’s grow our professional networks together.
  </span>
</a>
