<div
  class="flex flex-col p-8 2xl:p-12 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark"
>
  <div class="relative p-8 2xl:p-12 text-center w-full">
    <p
      id="contact-message"
      class="text-xl font-medium text-zinc-950 dark:text-zinc-100 lg:text-6xl"
    >
      Get in touch
    </p>
    <div class="mt-6 sm:flex w-full lg:max-w-lg mx-auto">
      <a
        href="mailto:mail@gpastorhall.com"
        class="inline-flex items-center justify-center w-full px-6 py-3 text-lg font-semibold text-white bg-zinc-950 rounded-lg hover:bg-zinc-800 dark:bg-zinc-100 dark:text-zinc-950 dark:hover:bg-zinc-200 transition duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-zinc-500"
      >
        Contact Me
      </a>
    </div>
  </div>
</div>
