---
import { Image } from "astro:assets";
import Potentium from "../../images/potentium.png";
---

<a
  href="https://potentium.org"
  class="lg:row-span-2 flex flex-col justify-between group duration-300 h-full lg:row-start-2 flex flex-col justify-between lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 2xl:p-12 bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark ">
  <div>
    <p class="text-xl font-medium text-zinc-950 dark:text-zinc-100 lg:text-6xl">
      Potentium | Online webstore
    </p>
    <p class="text-xl text-zinc-500 dark:text-zinc-300 2xl:text-3xl mt-6">
      Ecommerce venture with less-than-successful results.
      <br />
      <br />
      <br />
      Potentium was my attempt at "dropshipping" online. I wanted to make money in college,
      so as opposed to selling my own abilities or working on myself, I invested time and energy and a
      whole summer to make an online holistics store called Potentium. Why holistics? I really don't know, I thought
      it would sell well, I thought it would be fun.
      <br />
      <br />
      It was a fun project, but it didn't sell well.
    </p>
  </div>
  <img
    src="https://api.apiflash.com/v1/urltoimage?access_key=80112e6173b54cd98408b42d0f0aa693&wait_until=page_loaded&url=https://potentium.org"
    alt="#_"
    class="rounded-2xl mt-2 duration-300 bg-zinc-950/5 dark:bg-zinc-950 object-cover object-left"
  />
</a>
