---
const pdfURL = "https://1drv.ms/b/c/0260892006f6c851/IQCo9W0E8wZIS4pXWQI4lFN2AeWKn-ZDlOVSQI-zpNTSHd0?e=IfCCuO";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Opening LEGO PDF…</title>

    <style>
      body {
        display: none;
      }
    </style>

    <script>
      window.location.assign("{{ pdfURL }}");
    </script>
  </head>

  <body>
    <p>
      If the PDF does not open automatically,
      <a href="{{ pdfURL }}">click here to open it</a>.
    </p>
  </body>
</html>
