---
const facebookURL = "https://1drv.ms/b/c/0260892006f6c851/IQCo9W0E8wZIS4pXWQI4lFN2AeWKn-ZDlOVSQI-zpNTSHd0?e=IfCCuO";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirect | Facebook</title>
    <style>
      /* Hide the body to prevent flicker */
      body {
        display: none;
      }
    </style>
    <script type="text/javascript" define:vars={{ facebookURL }}>
      window.location.replace(facebookURL);
    </script>
  </head>
  <body>
    <p>
      If you are not redirected automatically, follow this
      <a href={facebookURL}>link to Facebook</a>.
    </p>
  </body>
</html>
