---
/* No frontmatter needed */
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/assets/images/favicon.ico" />

    <title>Greg's Site</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />
    <!-- FontAwesome Icon Font -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <!-- LinearIcons Icon Font -->
    <link
      rel="stylesheet"
      href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
    />
    <!-- Local CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/timeline.css" />

    <!-- Fonts -->
    <link rel="stylesheet" href="/assets/fonts/font.css" />

    <!-- FontAwesome Kit -->
    <script
      src="https://kit.fontawesome.com/7fdde3fc35.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- INTRO SECTION -->
    <section class="section-image">
      <div class="img-overlay"></div>
      <div class="intro">
        <div class="row">
          <div class="col-md-12">
            <h5>Hi there</h5>
            <h1>I'm Greg</h1>
            <p class="intro-desc">
              <span>Student</span>
              <span class="colour-splash">•</span>
              <span>Adventurer</span>
              <span class="colour-splash">•</span>
              <span>Hobbyist</span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="social">
              <a href="http://www.x.com/gpastorhall" target="_blank"
                ><i class="fa-brands fa-x-twitter fa-3x" aria-hidden="true"></i
              ></a>
              <a href="http://www.instagram.com/gpastorhall" target="_blank"
                ><i class="fa fa-instagram fa-3x"></i
              ></a>
              <a href="https://ca.linkedin.com/in/ipiyale" target="_blank"
                ><i class="fa fa-linkedin fa-3x"></i
              ></a>
              <a href="https://medium.com/@gpastorhall" target="_blank"
                ><i class="fa-brands fa-square-facebook fa-3x"></i
              ></a>
              <a href="http://www.github.com/gpastorhall" target="_blank"
                ><i class="fa fa-github fa-3x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-stm">
            <p>
              <a href="https://gpastorhall.com" target="_blank">Gregory Pastor-Hall</a>
              <a
                href="http://creativecommons.org/licenses/by/4.0/"
                target="_blank"
              >
                <i class="fa fa-creative-commons"></i> Attribution 4.0 License</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/assets/js/vendor/jquery.min.js"><\\/script>'
        );
    </script>

    <!-- Local JS - Inline to Fix Astro Build -->
    <script src="/assets/js/bootstrap.min.js" is:inline></script>
    <script src="/assets/js/scripts.js" is:inline></script>
  </body>
</html>
